{% extends 'base.html' %}
{% block content %}
{% load static %}

    <style>
        .hidden {
            display:none;
        }
    </style>

    <center>
   
        <h1>Add Video</h1>
        <br><br>

            <form id="form-container" action="" method=POST enctype="multipart/form-data">
            {% csrf_token %}
            {{ formset.management_form }}
            <div id="form-list">
                {% for form in formset %}
                    <div class="form">{{ formset.as_p }}</div>
                {% endfor %}
            </div>
            <div id="empty-form" class="hidden">
                {{ formset.empty_form.as_p }}
            </div>

            <br><br>
            <div class="d-grid gap-2">
                <button id="add-more" type="button" class="btn btn-dark">Add Another Video</button>
                <input type="submit" value="Submit" class="btn btn-dark">
            </div>
                <br><br>
            </form>
 
        
    </center>
    
    <script>
        const totalNewForm = document.getElementById('id_form-TOTAL_FORMS')
        const addMoreBtn = document.getElementById('add-more')
        
        addMoreBtn.addEventListener('click', add_new_form)
        
        function add_new_form(e) {
            if (e){
                e.preventDefault()
            }
            const currentForm = document.getElementsByClassName('form')
            let currentFormCount = currentForm.length
            const formCopyTarget = document.getElementById('form-list')
            const emptyForm = document.getElementById('empty-form').cloneNode(true)
            emptyForm.setAttribute('class', 'form')
            emptyForm.setAttribute('id', `form-${currentFormCount}`) 
            const regex = new RegExp('__prefix__', 'g')    
            emptyForm.innerHTML = emptyForm.innerHTML.replace(regex, currentFormCount)
            totalNewForm.setAttribute('value', currentFormCount + 1) 
            formCopyTarget.append(emptyForm)
 


        }



    </script>


{% endblock %}